/.vscode
/auth
/bitrix
/catalog
/main
/news
/site_id/index.php
/three-column
/upload
/.access.php
/.htaccess
/.left.menu.php
/.section.php
/.top.menu.php
/404.php
/favicon.ico
/index.php
/log.txt
/myphpinfo.php
/urlrewrite.php
/web.config
site_ld/index.php
local/modules
local/templates/shop/assets
local/templates/shop/images
local/templates/shop/description.php
local/templates/shop/footer.php
local/templates/shop/header.php